<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  
              <p>Check out my proffessional experience on <a href="https://www.linkedin.com/in/joshua-klotzkin/">LinkedIn</a></p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
			  <p> Look at my coding projects on <a href = https://github.com/JoshuaKlot>Github</a></p>
		<div class="col-sm-4">
		  Contact:<br />
		  Oort building, Leiden University<br />
		  Niels Bohrweg 2<br />
		  2333 CA Leiden<br />
		  Netherlands <br />
            (<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps</a>, <a href="http://www.physics.leidenuniv.nl/travel-directions">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
