<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <p>Check out my professional experience on 
            <a href="https://www.linkedin.com/in/joshua-klotzkin/">
              <img src="images/linkedin.png" alt="linkedin" width="225" height="75">
            </a>
          </p>
        </div>
        <div class="col-sm-4">
          <p>Look at my coding projects on 
            <a href="https://github.com/JoshuaKlot">
              <img src="images/github.png" alt="github" width="175" height="75">
            </a>
          </p>
        </div>
        <div class="col-sm-4">
          <p>Check out my gaming projects at 
            <a href="https://juklok.itch.io/">
              <img src="images/itch.png" alt="itch" width="200" height="60">
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>If my website interests you contact me using my email 
            <a href="mailto:joshklotzkin@gmail.com">joshklotzkin@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
